@model IEnumerable<NutritionApp.Models.Intake>

@{
    ViewData["Title"] = "Index";

    int prev = ViewBag.Count + 1;
    int next = ViewBag.Count - 1;
    var day = ViewBag.theDay;
}

<h1>Overview</h1>
<h3>@ViewBag.Name</h3>
<div id="day">
    <a asp-action="Day" asp-route-id="@prev">Prev</a>
    <span>
        @{ 
            if (ViewBag.Count <= 0) {
                @:Today
            }
            else if (ViewBag.Count == 1) {
                @:Yesterday
            }
            else
            {
                @ViewBag.theDay
            }
        }
    </span>
    @{ if (next >= 0)
        {
            <a asp-action="Day" asp-route-id="@next">Next</a>
        }
    }

</div>

<p>
    <a asp-controller="Intakes" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                Name
            </th>
            <th>
                Kcal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Day)
                </td>
                <td>
                    @*@{
                        if (item.Product.ProductName != null)
                        {
                            Html.DisplayFor(modelItem => item.Product.ProductName);
                        }
                        else if (item.Meal.MealName != null)
                        {

                        }
                    }*@
                    @Html.DisplayFor(modelItem => item.Meal.MealName)
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                   
                    @Html.DisplayFor(modelItem => item.Product.Kcal)
                </td>

                <td>
                    <a asp-controller="Intakes" asp-action="Edit" asp-route-id="@item.IntakeId">Edit</a> |
                    <a asp-controller="Intakes" asp-action="Details" asp-route-id="@item.IntakeId">Details</a> |
                    <a asp-controller="Intakes" asp-action="Delete" asp-route-id="@item.IntakeId">Delete</a>
                </td>
            </tr>
                    }
                
            
    </tbody>
</table>
