@model IEnumerable<NutritionApp.Models.Intake>
@ViewBag.Id


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@ViewBag.theDay
<p>
    <a asp-action="Today">Today</a>
</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Day)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Meal.MealId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IntakeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IntakeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IntakeId">Delete</a>
                </td>
            </tr>
                    }
                
            
    </tbody>
</table>
