@model IEnumerable<NutritionApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
          
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr onclick="location.href = '@(Url.Action("Edit", "Products",new { id= @item.ProductId }))'">
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
                @Html.DisplayFor(modelItem => item.GTIN)
            </td>
         
           
         
        </tr>
}
    </tbody>
</table>

