<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NutritionApp</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/standardStyle.css" />
    <link rel="stylesheet" href="~/css/FooterAndHeader.css" />
</head>
<body class="@ViewData["Title"]">
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NutritionApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Overview" asp-action="day">Overview</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@
        <nav> <div class="@(ViewBag.SelectedPage == "Settings" ? "active-page": "footerNavItem")"><a asp-area="" asp-controller="Settings" asp-action="Index"><img src="~/images/settings.svg" alt="Gears" /></a></div></nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
   
    <footer class="border-top footer text-muted">
        <nav class="flexContainer">
            <div class="@(ViewBag.SelectedPage == "Meal" ? "active-page": "footerNavItem")"><a asp-area="" asp-controller="Meals" asp-action="Index"><img src="~/images/meal.svg" alt="Breakfast plate" /><span>Meals</span></a></div>
            <div class="middleNav">
                <div class="@(ViewBag.SelectedPage == "Intake" ? "active-page": "footerNavItem")"><a asp-area="" asp-controller="Intakes" asp-action="Create"><img src="~/images/intake.svg" alt="Open mouth" /><span>Intake</span></a></div>
                <div class="@(ViewBag.SelectedPage == "Overview" ? "active-page": "footerNavItem")"><a asp-area="" asp-controller="Overview" asp-action="Index"><img src="~/images/overview.svg" alt="Eye" /><span>Overview</span></a></div>
            </div>
            <div class="@(ViewBag.SelectedPage == "Product" ? "active-page": "footerNavItem")"><a asp-area="" asp-controller="Products" asp-action="Index"><img src="~/images/product.svg" alt="Food" /><span>Foods</span></a></div>
         
        </nav>
        @*<div class="container">
            &copy; 2021 - NutritionApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>, <a href="https://www.freepik.com" title="Freepik">Freepik</a>, <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> and <a href="" title="photo3idea_studio">photo3idea_studio</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>*@

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function selectThisNavItem(element) {
            //('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
            console.log("i am an element: ", element);
            element.classList.add("notActiveTab");
            //let allNavItems = document.querySelectorAll(".footerNavItem");
            //allNavItems.foreach(item => { console.log(navItem); });
            
        }


        //document.addEventListener("DOMContentLoaded", function (event) {
        //    console.log(location.pathname, event);
        //    let allNavItems = document.querySelectorAll(".footerNavItem");
        //    console.log(allNavItems);
        //    if (location.pathname = "/Meals") {
        //        console.log(allNavItems[0]);
        //    }
        //});

        //window.onload = (event) => {
        //    console.log(location.pathname, event);
        //    let allNavItems = document.querySelectorAll(".footerNavItem");
        //    console.log(allNavItems);
        //    if (location.pathname = "/Meals") {
        //        console.log(allNavItems[0]);
        //    }
        //};
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
