@using NutritionApp.Models.ViewModels
@model BasketIndexViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Meal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div>
            <form asp-action="AddToBasketEditMeal" asp-controller="Basket" method="post">
                <div style="display:flex;justify-content:space-between" class="form-group">
                    <div style="width:57%" >
                        <label class="control-label">Choose new product:</label>
                        <select name="productId" id="productId" class="form-control" asp-items="ViewBag.AllProd as SelectList"></select>
                    </div>
                    <div style="width:27%" class="form-group">
                        <label class="control-label">GRAMS</label>
                        <input name="qunatity" class="form-control" autocomplete="off" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="MealId" value="@Model.Meal.MealId" />
                        <input type="submit" value="+" class="add-button btn-prple" />
                    </div>
                </div>
            </form>
        </div>
        <div>
            <table class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th>ProductName</th>
                        <th>Quantity</th>
                        @*<th>Delete</th>*@

                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in ViewBag.Bas.Lines)
                    {
                        <tr>
                            <td class="text-center">@line.Product.ProductName</td>
                            <td class="text-left">@line.Quantity</td>


                            <td>
                                <form asp-action="RemoveFromBasketEditMeal" asp-controller="Basket" method="post">
                                    <input type="hidden" name="ProductId" value="@line.Product.ProductId" />
                                    <input type="hidden" name="MealId" value="@Model.Meal.MealId" />
                                    <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                                </form>
                            </td>
                        </tr>
                    }


                    @foreach (var line in Model.Basket.Lines)
                    {
                        <tr>
                            <td class="text-center">@line.Product.ProductName</td>
                            <td class="text-left">@line.Quantity</td>


                            <td>
                                <form asp-action="DeleteIngredientFromBasket" asp-route-id="" asp-controller="Meals" method="post">
                                    <input type="hidden" name="ProductId" value="@line.Product.ProductId" />
                                    <input type="hidden" name="MealId" value="@Model.Meal.MealId" />
                                    <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Meal.MealId" />


           
            <div class="form-group">
                <label asp-for="Meal.MealName" class="control-label"></label>
                <input asp-for="Meal.MealName" class="form-control" />
                <span asp-validation-for="Meal.MealName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                @*<p>@Model.Basket.Lines.Count.ToString()</p>*@

            </div>
        </form>
       


        @*@await Component.InvokeAsync("MealEdit", Model.Basket)*@
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
