@model IEnumerable<NutritionApp.Models.Meal>

@{
    ViewData["Title"] = "Index";
}

<h1 class="page-title">Your Meals</h1>

<div class="food-listing">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <small>GRAMS</small>
                    </th>
                    <th>
                        <small>MEAL</small>
                    </th>
                    <th>
                        <small>KCAL</small>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr onclick="location.href = '@(Url.Action("Edit", "Meals", new { id = @item.MealId }))'">
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MealName)
                        </td>
                        <td>
                            @{decimal ingCal = 0;}
                            @foreach (Ingredient ing in item.Ingredients)
                            {
                                ingCal = (ingCal + (ing.Product.Kcal * ing.Quantity / 100));
                            }
                            @{ingCal = ingCal * item.Quantity;}
                            @ingCal.ToString("0") <small>kcal</small>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div>
            You have no added meals.
        </div>
    }
</div>

<a asp-action="Create" class="create-link">
  
    <div class="create-container">

        @*<small>ADD MEAL</small>*@
        <div class="add-button">+</div>
        <svg viewBox="164 68 100 100">
            @*<path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" />*@
            <path id="curve" d="M 230 80 A 45 45, 0, 1, 0, 275 125" />

            <text width="100">
                <textPath xlink:href="#curve">
                    ADD MEAL
                </textPath>
            </text>
        </svg>

    </div>
</a>
 <partial name="_navigation" />
